body {
  font-family: "Manrope", sans-serif;
  background-color: #1c2225;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.close {
  display: none;
}
button {
  padding: 0;
  display: block;
  cursor: pointer;
}

.container {
  max-width: 365px;
  margin: 0 auto;
  padding: 0 15px;
}

.accent {
  color: #ecd979;
}

/* ================================== HEADER ================================== */

.header {
  margin-top: 20px;
  padding: 6px 0;
  margin-bottom: 84px;

}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
}

.header-logo__icon {
}

.header__list {
  display: none!important;
}

.header-right-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-address__link {
  padding: 12px 20px; display: block;
}

.header-address {
  transition: border-color 250ms ease-in-out;
}

.header-address:hover {
  border-color: #ecd979;
}

.header-soc-list {
  display: none;
  align-items: center;
  gap: 12px;
}

.soc-item {

}



.soc-link {
    padding: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
border-radius: 15px;
background: rgba(252, 249, 249, 0.1);
transition: background-color 250ms ease-in-out, border 250ms ease-in-out; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-link:hover {
  border: 1px solid #ecd979;
background-color: transparent;
}

.soc-icon {
}

.header__open-menu {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.header-open__icon {
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: end;
  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms ease-in-out;
}

.modal {
  width: 100%;
  height: 100%;
  background: #ecd979;
  padding: 20px;
  position: relative;
  max-width: 274px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* justify-content: space-between; */
  margin-bottom: auto;


}

.modal-nav {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-address {
}

.modal-address__link {
  border: 1px solid rgba(28, 34, 37, 0.1);
border-radius: 15px;
  padding: 12px 20px;
  font-weight: 400;
font-size: 12px;
line-height: 1.16667;
text-transform: uppercase;
color: #1c2225;
font-style: normal;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
    width: 36px;
  height: 36px;
}

.modal-close-icon {

  display: block;
}

.modal-nav-container {
  height: 318px;
  display: flex;
  justify-content: flex-end;
}

.modal-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: auto;
  gap: 20px;
}

.modal-item {
  font-weight: 400;
font-size: 14px;
line-height: 1.28571;
text-transform: uppercase;
color: #1c2225;
}

.modal-bg {
  position: relative;
}

.modal-img {
  position: relative;
  bottom: -51px;
  left: 50%;
  transform: translateX(-47%);
  width: 340px;
}

.is-open {
  opacity: 1;
  pointer-events: all;
}

/* ================================== HERO ================================== */

.hero {
  margin-bottom: 80px;
}

.hero-main {
  margin-bottom: 40px;
}

.hero__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.09091;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 20px;
}

.hero__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 35px;
  margin-left: 70px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  background-color: transparent;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fcf9f9;
  margin-bottom: 40px;
  font-size: 16px;
  transition: border-color 250ms ease-in-out;
}

.hero__btn:hover {
  border-color: #ecd979;
}

.hero-btn__icon {
  transform: rotate(-30deg);
}

.hero-star {
  display: none;
  max-width: 115px;
  
}

.hero-star-icon {
  fill: #ecd979;
}

.hero__img {
  border-radius: 4px;
}

.hero-star-text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(252, 249, 249, 0.4);
}

/* ================================== ABOUT ================================== */

.about {
  display: block;
  position: relative;
  overflow: hidden;
}

.about .container {
  padding-bottom: 80px;
}

.about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 40px;
}

.about__title + .about__desc {
  margin-bottom: 20px;
}

.about__desc {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
}

.about__img {
  margin-top: 50px;
  border-radius: 4px;
}

.about__img-bg {
  position: absolute;
  bottom: 18px;
  right: -188px;
  width: 459px;
  height: 408px;
}

/* ================================== COLLECTION ================================== */

.collection {
  margin-bottom: 80px;
  position: relative;
  overflow: hidden;
}

.collection > .container {
}

.collection__img-bg {
  position: absolute;
  width: 196px;
  height: 174px;
  top: 298px;
  left: -126px;
}

.collection__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 40px;
  text-align: center;
}

.collection__list {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.collection__item {
  background-color: #1c2225;
}

.collection__img {
  margin-bottom: 18px;
}

.collection__sun-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fcf9f9;
}

.collection-price {
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: rgba(252, 249, 249, 0.4);
}

/* ================================== PICTURE ================================== */

.picture {
  margin-bottom: 80px;
}

/* ================================== ORDER ================================== */

.order {
  margin-bottom: 74px;
}

.order__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 40px;
}

.order__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-form__wraper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.order-form__input {
  padding: 14px 16px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fcf9f9;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  transition: border 250ms ease-in-out;
}

.order-form__input:focus {
  outline: none;
  border: 1px solid rgba(252, 249, 249, 0.6);
}

.order-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(252, 249, 249, 0.5);
}

.order-form__textarea {
  display: none;
}

.order-form__btn {
  margin: 0;
}

.order-bg {
  display: none;
}

/* ================================== REVIEW ================================== */

.review {
  margin-bottom: 80px;
}

.review__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 64px;
}

.review__list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.review__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 4px;
  position: relative;
  padding: 22px;
  padding-top: 54px;
}

.review-item__img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 64px;

  transform: translate(-50%, -50%);
}

.review-item__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #fcf9f9;
  margin-bottom: 8px;
}

.review-item__text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: rgba(252, 249, 249, 0.4);
  line-height: 1.358;
}

/* ================================== FOOTER ================================== */

.footer {
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  padding-top: 40px;
}

.footer__wrapper {
  max-width: 375px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.footer .container {
  margin-bottom: 280px;
}

.footer__list {
  max-width: 288px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 25px;
  margin-bottom: 40px;
}

.footer__item {
  flex-basis: calc((100% - 40px) / 2);
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  color: #fcf9f9;
  transition: color 250ms ease-in-out;
}

.footer__link:hover {
  color: #ecd979;
}

.footer__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.22727;
  letter-spacing: -0.03em;
  color: #fcf9f9;
}

.footer__icon {
  width: 451px;
  position: absolute;
  left: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  object-fit: cover;
}
